::-webkit-scrollbar{
    display: none;
  }
  
  /* Googlefont Poppins CDN Link */
  @font-face {
    font-family: IS;
    src: url(iransansweb.woff) format(woff);
  }
  *{
      direction: rtl;
      font-family: IS;
      box-sizing: border-box;
      transition:0.4s ease;
  }
  html{
    height: 100%;
    margin: 0;
  }
  body{
      margin: 0;
      height: 100%;
      background: linear-gradient(to right, #0F3443 , #006c69);
  }
  img {
      width: 100%;
      height: auto;
  }
  table{
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 20px;
    margin: 40vh auto;
    border-radius: 10px;
  }
  table th{
    border-style: solid;
    width: 190px;
    
  }
  @media (max-width:700px) {
    table{
        width: 90vw;
    }
  }
  @media (max-width:450px) {
    table{
        font-size: 16px;
    }
  }
